{% extends "basic/layout.html" %}
{% block extrahead %}
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-434560-5");
    pageTracker._initData();
    pageTracker._trackPageview();
    </script>
    {{ super() }}
{% endblock %}

{% block sidebarlogo %}
    <div class="proj-meta">
      Project: <span class="meta-detail">{{ project }}</span><br />
      Language: <span class="meta-detail">{{ language }}</span><br />
      License: <span class="meta-detail">{{ license }}</span><br />
      <a href="{{ source }}">Source</a><br />
      <a href="{{ bugs }}">Bugs</a><br />
    </div>

{{ super() }}

{% endblock %}
